fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
alembic
geoalchemy2
pydantic
pydantic-settings
email-validator
python-jose
passlib[bcrypt]
bcrypt==3.1.7
google-generativeai
pytest
pytest-asyncio
httpx
python-multipart
